[user]
	name = Alan Chan
	email = achan961117@gmail.com

[core]
	editor = vim
	fileMode = false
	autocrlf = false
	excludesfile = ~/.gitignore_global

[credential]
	helper = cache

[color "decorate"]
	branch = 10 bold
	remoteBranch = 1
	tag = 3 bold
	HEAD = 14

[color "diff"]
	meta = 4
	frag = 5

[alias]
	ec = config --global --edit

	a = add
	aa = add --all
	ap = add --patch

	c = commit
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit

	b = branch
	bb = branch -vva
	bd = branch -d
	bdd = branch -D
	bm = branch -m
	bdr = branch -dr

	co = checkout
	cob = checkout -b
	com = checkout master
	col = checkout local
	cod = checkout dev

	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff --stat
	dc = diff --staged # alias for alias
	ds = diff --staged

	m = merge
	ma = merge --abort
	mc = merge --continue
	mnf = merge --no-ff
	mff = merge --ff-only

	r = rebase
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rs = rebase --skip
	rms = rebase master
	rgm = rebase github/master
	rom = rebase origin/master
	rum = rebase upstream/master

	sp = stash pop
	s = status
	f = fetch --tags
	fo = fetch origin --tags
	fg = fetch github --tags
	p = pull -v
	po = push origin
	pg = push github
	pf = push -f
	puo = push -u origin HEAD
	pug = push -u github HEAD

	mark = tag tmp
	unmark = tag -d tmp
	nuke = reset --hard HEAD
	dev = checkout -b dev
	move = reset --hard

	# log
	l   = log --pretty=fo --graph
	la  = log --pretty=fo --graph --all
	lla = log --pretty=fl --graph --all
	ls  = log --pretty=fl --graph --stat
	lp  = log --pretty=fl --graph --patch
	lrelease = log --pretty=fo --graph --tags --branches=release* --remotes=github/release* --tags=v* github/master master HEAD
	llocal   = log --pretty=fo --graph --tags --branches=* HEAD
	ll  = llocal
	lr  = lrelease

	g = grep --break --heading --line-number

	wk = worktree
	wkl = worktree list

[log]
	abbrevCommit = true
	date = format:%a, %Y-%m-%d %R (%z)
	showRoot = true

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = upstream
	followTags = true

[pretty]
	# oneline
	fo = %C(auto)%h%d %s %C(241)@%an %C(67)(%ar)%C(auto)
	# full
	fl = format:%C(auto)%h %p%d%n%C(110)%ar %C(67)- %ad%n%C(37)%an %C(241)<%ae>%n%n%w(0, 1, 1)%C(230)%s%n%+b

[rerere]
	enabled = 1
	autoupdate = 1

[github]
	user = pinealan
[color]
	ui = auto
[grep]
	extendRegexp = true
	lineNumber = true
[diff]
	tool = opendiff
[difftool]
	prompt = false
[init]
	defaultBranch = master
