[user]
	name = Alan Chan
	email = achan961117@gmail.com

[core]
	editory = vim
	fileMode = false
	autocrlf = false

[credential]
	helper = cache

[color "decorate"]
	branch = 10 bold
	remoteBranch = 1
	tag = 3 bold
	HEAD = 14

[color "diff"]
	meta = 4
	frag = 5

[alias]
	ec = config --global --edit

	a = add
	ap = add --patch

	c = commit
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit

	b = branch
	bb = branch -vva
	bd = branch -d
	bD = branch -D
	bm = branch -m
	bdr = branch -dr

	co = checkout
	cob = checkout -b
	com = checkout master
	col = checkout local
	cod = checkout dev

	cp = cherry-pick
	d = diff

	m = merge
	ma = merge --abort
	mc = merge --continue
	mnf = merge --no-ff
	mff = merge --ff-only

	r = rebase
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rms = rebase master

	s = status
	f = fetch --tags
	fo = fetch origin --tags
	fg = fetch github --tags
	p = pull -v
	pg = push github
	po = push origin

	mark = tag tmp
	unmark = tag -d tmp
	nuke = reset --hard HEAD
	dev = checkout -b dev
	move = reset --hard

	# log
	l = log --pretty=ps --graph
	lo = log --pretty=po --graph
	ll = log --pretty=pl --graph
	ls = log --pretty=pl --graph --stat
	lp = log --pretty=pl --graph --patch

	# log, --all
	la = log --pretty=ps --graph --all
	loa = log --pretty=po --graph --all
	lsa = log --pretty=pl --graph --all --stat
	lpa = log --pretty=pl --graph --all --patch

	# log, --all --date-order
	ld = log --pretty=ps --graph --all --date-order
	lod = log --pretty=po --graph --all --date-order

	g = grep --break --heading --line-number

	wk = worktree

[log]
	abbrevCommit = true
	date = format:%a, %Y-%m-%d %R (%z)
	showRoot = true

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = upstream
	followTags = true

[pretty]
	po = tformat:%C(auto)%h%d %s %C(241)- %an  # oneline
	ps = tformat:%C(auto)%h %C(244)- %C(67)%ad %C(108)(%ar)%C(auto)%d%n%C(241)          @%an %C(reset)%<(52,trunc)%s %n  # summary
	pl = format:%C(3)%h %p%C(auto)%d%n%C(67)%ad %C(108)(%ar)%n%C(6)%an <%ae>%n%n%w(0, 4, 4)%C(230)%B  # long

[rerere]
	enabled = 1
	autoupdate = 1

[github]
	user = pinealan
[color]
	ui = auto
[grep]
	extendRegexp = true
	lineNumber = true
