{;:paths []
 ;:deps {}
 :aliases
 {:fmt    {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.4"}}
           :main-opts ["-m" "cljfmt.main"]}

  :repl   {:extra-deps {reply/reply {:mvn/version "0.4.4"}}
           :main-opts ["-m" "reply.main" "--color" "--attach"]}

  :niddle {:extra-deps
           {niddle/niddle
            {:local/root "/Users/alan/src/niddle" :deps/manifest :deps}}}

  :pg     {:extra-deps {cider/piggieback {:mvn/version "0.5.2"}}}

  :icedd
  {:extra-deps {nrepl/nrepl                   {:mvn/version "0.7.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                cider/cider-nrepl             {:mvn/version "0.24.0"}
                iced-nrepl/iced-nrepl         {:mvn/version "1.0.1"}

                niddle/niddle
                {:local/root "/Users/alan/src/niddle" :deps/manifest :deps}

                iced-repl/iced-repl
                {:local/root "/Users/alan/.vim/plugged/vim-iced" :deps/manifest :deps}}

   :exec-fn nrepl.cmdline/dispatch-commands
   :exec-args {:middleware [iced-repl/cider-middleware
                            refactor-nrepl.middleware/wrap-refactor
                            iced.nrepl/wrap-iced
                            niddle.print/niddle-mw]}}
  }}
