{
  :deps {
    org.clojure/clojure {:mvn/version "1.10.1"}
    nrepl {:mvn/version "0.6.0"}
    reply {:mvn/version "0.4.3"}
  }

  :aliases {
    :needle {
      :extra-deps {needleware {:local/root "/Volumes/Data/alan/lab/needleware"}}
      :main-opts [
        "-m" "nrepl.cmdline"
        "--middleware" "[needleware.print/print-eval]"
      ]
    }
    :nrepl {
      :extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
      :main-opts [
        "-m" "nrepl.cmdline"
        "--middleware" "[cider.nrepl/cider-middleware]"
        "-i"
        "-C"
      ]
    }
  }
}
