snippet dhdiv
===[ $1 ]===
endsnippet

snippet shdiv
---[ $1 ]---
endsnippet

snippet glog "Get logger"
log = logging.getLogger(${0:__name__})
endsnippet

snippet vargs "variable args"
*args, **kwargs
endsnippet
